
@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  color: aliceblue;
}

* {
  box-sizing: border-box;
}

.story {
  font-family: "Permanent Marker", sans-serif;
  display: flex;
  text-align: center;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
.story h2 {
  color: springgreen;
}


.page {
  font-family: "Inter", sans-serif;
  background: black;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url(images/nature.jpg);
  background-size: 100%;
  background-position: center;
  text-align: center;
  margin-bottom: 200px;
}

.name {
  font-family: "Permanent Marker", cursive;
  font-size: 140px;
  line-height: 140px;
  color: gold;
  text-transform: uppercase;
  max-width: 1240px;
  margin: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 790px;
  margin: 100px auto 50px;

}

.card {
  max-width: 350px;
  height: 100%;
  margin-bottom: 200px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(0, 132, 255, 0.4);
  height: 200px;
  object-fit: contain;
}
.subtitle_card {
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  margin-bottom: 10px;
}
.text {
  font-size: 16px;
}
.card_image {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  object-fit: cover;
  cursor: pointer;
}

.table h1 {
  text-align: center;
  font-size: 50px;
  color: greenyellow;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 140px;
  margin-top: 25px;
}

td, th {
  border: 2px solid #ffffff;
  padding: 10px;
  text-align: center;
}

button {
  border-radius: 50px;
  padding: 10px 15px;
  cursor: pointer
} 
.btn-primary {
  background-color: blue;
  color: aliceblue;
}
.btn-danger {
  background-color: red;
  color: aliceblue;
}
.footer {
  display: flex;
  min-height: 300px;
  background-color: #000000;
}
.footer_sign {
  font-size: 24px;
  color: #ffffff;
  margin: auto;
}


